.tox
.venv
.vscode
.vagrant
*.log
*.xml
__pycache__
molecule/*/tests/__pycache__
vagrant-files
collections/*
roles/*

# Excludes
!molecule/*/files/*.xml
!files/jenkins/configs/*.xml
!collections/requirements.yml
!roles/requirements.yml
